:root {
    --primary-color: #1b1c1e;
    --secondary-color: #feb71d;
    --tertiary-color: #a9451b;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
}
header {
    text-align: center;
    height: 100px;
}

.hero-body {
    padding: 10px;
}

.hero-body p {
    color: var(--secondary-color);
}

.title {
    font-size: 50px;
}

.subtitle {
    font-size: 23px;
}

/* set dimensions of main image; insert image */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/background-cocktail.png");
    background-size: cover;
    background-position: 50% 42%;
}

.wrapper2 {
    background-image: url("../images/background-cocktail.png");
    background-size: contain;
    height: 400px;
}

.wrapper3 {
    background-image: url("../images/background-cocktail.png");
    background-size: contain;
}

.input {
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 85%;
    text-align: center;
}

.field {
    margin: 200px auto 0;
    width: 800px;

}

.button {
    background-color: var(--secondary-color);
}

.spirit-button {
    width: 120px;
}

/* Hide container */
.hidden {
    display: none;
}
  
.results-container, .info-container {
    min-height: 500px;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    box-shadow: none; /* Remove white border around card */
}

.card-header {
    background-color: #ec881d;
}

.card-header-title {
    color: #ffff;
}

.recipe-button {
    background-color: #ec881d;
    color: #ffff;
}