* {
    box-sizing: border-box;

}

footer {
    text-align: center;
}

.input{
    background-color: rgba(10,10,10,.1);
    color: #141414;
    width: 800px;
    text-align: center;
    position: relative;
    bottom: 150px;
    left:200px;
}

#search-button.is-fullwidth {
    display: flex;
    top: 5px;
    width: 100%;
    position: relative;
    left: 0px;
    flex-wrap: nowrap;
    align-items: baseline;
}

/* Hide container */
.hidden {
    display: none;
}
  
.search-container {
    height: 300px;
}
  
.start-container, .results-container, .info-container {
    min-height: 500px;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    box-shadow: none; /* Remove white border around card */
}

.card-header {
    background-color: #ec881d;
}

.card-header-title {
    color: #ffff;
}

.recipe-button {
    background-color: #ec881d;
    color: #ffff;
}

