* {
    margin: 0px;
    padding: 0px;
}

header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    height: 180px;
    text-align: center;
    color: rebeccapurple;
}

.input{
    background-color: blanchedalmond;
    width: 800px;
    text-align: center;
    position: relative;
    bottom: 150px;
    left:200px;
}

.button{
    width: 100px;
    background-color: lightcyan;
    position: relative;
    bottom: 150px;
    left:240px;
}

/* Hide container */
.hidden {
    display: none;
}

.results-container {
    min-height: 700px;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    box-shadow: none; /* Remove white border around card */
}

.card-header {
    background-color: #ec881d;
}

.card-header-title {
    color: #ffff;
}

.recipe-button {
    background-color: #ec881d;
    color: #ffff;
}

footer{
    text-align: center;
}
body{
    background-image: url(./3442785.jpg);
    background-color: #cccccc;
    background-size: cover;
}